.search-bar-wrapper {
  padding: 10px;
  background-color: #f5f5f5;
}

.greeting {
  font-size: 24px;
  color: #333;
  margin: 0 0 10px 0; /* Added margin to separate from the search bar */
}

.search-input-container {
  display: flex;
  border: 1px solid #333;
  border-radius: 20px;
  overflow: hidden;
  width: 80%; /* Set the search input container to take full width */
}

.search-input {
  border: none;
  padding: 10px;
  flex-grow: 1; /* Allows the input to grow and fill the space */
  font-size: 16px;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background-color: #333;
  border: none;
  padding: 10px 15px; /* Adjust padding to your preference */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  color: white;
  font-size: 16px;
}

/* Ensuring no outline on focus for a clean design */
.search-input:focus, .search-button:focus {
  outline: none;
}

/* Optional: Add a hover effect for the button */
.search-button:hover {
  background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .greeting {
    font-size: 20px; /* Smaller font size on small screens */
  }

  .search-input {
    font-size: 14px; /* Smaller font size on small screens */
  }

  .search-button {
    padding: 10px; /* Smaller padding on small screens */
  }
}
